*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {background-color: rgb(209, 197, 237); }
#text  h2{

  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
 
}
#text  h3{
    color: rgb(87, 31, 215);
  font-family: "Spirax", system-ui;
  font-weight: 800;
  font-style: normal;

}

#logoAtext img{
  height: 7rem;
}
#topText{ 
min-width: 320px;
 background-color:rgb(87, 31, 215);
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 3rem;

}
#topText a, #topText h3{
  font-size: 1rem;
  text-align: center;
  color: white;

}

#topText button{
  background-color: rgb(87, 31, 215);
  border: 0;

}
.closeTopText{
  font-size: 1.25rem;
  color: white;
}
.menuBook{
  background-color: yellow;
  padding: .25rem;
}
#headerSection2{
  background-color: rgb(146, 105, 241);
  color: white;
}
#headerSection1{
  background-color: rgb(209, 197, 237);
  
}
#headerSection3{
  background-color:  rgb(87, 31, 215);
  color: white;
}